body, html {
  background-color: #c2c2d6;
  color: #47476b;
  margin: 0;
}

html, input, select {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #47476b;
}

table {
  width: 100%;
}

.main {
  width: 1100px;
  min-height: 100vh;
  margin: 0 auto 50px auto;
  text-align: center;
}

.header-nav {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin-top: 10px;
}

.header-nav__ul {
  list-style: none;
  padding: 20px;
  text-align: center;
}

.header-nav__li {
  display: inline-block;
}

.header-nav__a {
  display: inline-block;
  text-transform: uppercase;
  height: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: #c2c2d6;
  color: #47476b;
}

.row {
  padding: 0.2em 0;
}

.search-table {
  border: 2px solid #47476b;
  text-align: center;
  border-collapse: collapse;
  width: 600px;
  margin: 0 auto;
}

.search-table th,
.search-table td {
  border: 2px solid #47476b;
  margin: 0;
  padding: 2px 4px;
}

.search-table input {
  width: 100%;
}
